.wrap {
  border-radius: 20px;
  display: flex;
  width: 100%;
  justify-content:center;
  align-items: center;
}
.card {
  margin: 2%;
  width: 300px;   
  height: 400px;
  position: relative;
  perspective: 1000px;
}
.front, .back {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 10px;
  padding: 30px;
}
.front {
  background-color: rgb(153, 153, 153);
}
.back {
  background-image: linear-gradient(
  195deg,
  hsl(0deg 0% 35%) 1%,
  hsl(344deg 0% 47%) 50%,
  hsl(0deg 0% 60%) 99%
);
  transform: rotateY(180deg);
  font-size: 25px;
  color: white;
}
.card:hover .front {transform: rotateY(180deg);}
.card:hover .back {transform: rotateY(360deg);}